.full-width {
    width: 100%;
  }
  
  .card-margin {
    margin: 5%;
  }
  
  .btn-reg {
    background: rgb(62, 150, 153);
  }
  
  .warn{
    color: red;
  }
  .example-card {
    display: flex;
    justify-content: center;
    align-items: center;
  }

 .mat-button-right{
    float: right;
}